<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.education.system.bus.mapper.BusLessonMapper">
  <resultMap id="BaseResultMap" type="com.education.system.bus.entity.BusLesson">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="lesson_sort" jdbcType="INTEGER" property="lessonSort" />
    <result column="lesson_label" jdbcType="VARCHAR" property="lessonLabel" />
    <result column="lesson_name" jdbcType="VARCHAR" property="lessonName" />
    <result column="lesson_knowledge" jdbcType="VARCHAR" property="lessonKnowledge" />
    <result column="lesson_ability" jdbcType="VARCHAR" property="lessonAbility" />
    <result column="textbook_id" jdbcType="INTEGER" property="textbookId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, lesson_sort, lesson_label, lesson_name, lesson_knowledge, lesson_ability, textbook_id, 
    create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bus_lesson
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bus_lesson
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.education.system.bus.entity.BusLesson">
    insert into bus_lesson (id, lesson_sort, lesson_label, 
      lesson_name, lesson_knowledge, lesson_ability, 
      textbook_id, create_time)
    values (#{id,jdbcType=INTEGER}, #{lessonSort,jdbcType=INTEGER}, #{lessonLabel,jdbcType=VARCHAR}, 
      #{lessonName,jdbcType=VARCHAR}, #{lessonKnowledge,jdbcType=VARCHAR}, #{lessonAbility,jdbcType=VARCHAR}, 
      #{textbookId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.education.system.bus.entity.BusLesson">
    insert into bus_lesson
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="lessonSort != null">
        lesson_sort,
      </if>
      <if test="lessonLabel != null">
        lesson_label,
      </if>
      <if test="lessonName != null">
        lesson_name,
      </if>
      <if test="lessonKnowledge != null">
        lesson_knowledge,
      </if>
      <if test="lessonAbility != null">
        lesson_ability,
      </if>
      <if test="textbookId != null">
        textbook_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="lessonSort != null">
        #{lessonSort,jdbcType=INTEGER},
      </if>
      <if test="lessonLabel != null">
        #{lessonLabel,jdbcType=VARCHAR},
      </if>
      <if test="lessonName != null">
        #{lessonName,jdbcType=VARCHAR},
      </if>
      <if test="lessonKnowledge != null">
        #{lessonKnowledge,jdbcType=VARCHAR},
      </if>
      <if test="lessonAbility != null">
        #{lessonAbility,jdbcType=VARCHAR},
      </if>
      <if test="textbookId != null">
        #{textbookId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.education.system.bus.entity.BusLesson">
    update bus_lesson
    <set>
      <if test="lessonSort != null">
        lesson_sort = #{lessonSort,jdbcType=INTEGER},
      </if>
      <if test="lessonLabel != null">
        lesson_label = #{lessonLabel,jdbcType=VARCHAR},
      </if>
      <if test="lessonName != null">
        lesson_name = #{lessonName,jdbcType=VARCHAR},
      </if>
      <if test="lessonKnowledge != null">
        lesson_knowledge = #{lessonKnowledge,jdbcType=VARCHAR},
      </if>
      <if test="lessonAbility != null">
        lesson_ability = #{lessonAbility,jdbcType=VARCHAR},
      </if>
      <if test="textbookId != null">
        textbook_id = #{textbookId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.education.system.bus.entity.BusLesson">
    update bus_lesson
    set lesson_sort = #{lessonSort,jdbcType=INTEGER},
      lesson_label = #{lessonLabel,jdbcType=VARCHAR},
      lesson_name = #{lessonName,jdbcType=VARCHAR},
      lesson_knowledge = #{lessonKnowledge,jdbcType=VARCHAR},
      lesson_ability = #{lessonAbility,jdbcType=VARCHAR},
      textbook_id = #{textbookId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>